<%= form_for(@event) do |f| %>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, class: 'form-control' %>
      </div>
    </div>
  </div> 

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="btn btn-success">
          Upload main Image <%= f.file_field :main_image, style: 'display:none;' %>
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="btn btn-success">
          Upload Event Photos <%= f.file_field :event_photos, multiple: true, style: 'display:none;' %>
        </label>
      </div>
    </div>
  </div>   

  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>

<% end %>