<div class="container"> 
    <div id="header">
        <h1>Denver's Mod Photo Lounge Rental Pricing</h1>
        <p>All photo booth rentals include; 1 attendant, custom personalization of photo prints, fun props, unlimited single 4x6 prints or 2x6 strips, digital copy, and an on-line photo gallery.</p>
        <%= link_to 'Client Agreement Form', '#', class: 'btn btn-danger btn-lg' %>
    </div>    
</div>    

<div id="table">
    <div class="container">
        <div class="row"> 
            <div class="col-md-4 col-sm-4 col-xs-12" id="col-slv">
                <h2><%= fa_icon "star" %><br>
                    Silver Package</h2>
                <h3>$650</h3>
                <hr>
                <p>Includes:</p>
                <ul class="list-group">
                    <li class="list-group-item">Photo Lounge for 3 Hours</li>
                    <li class="list-group-item">Unlimited Single 4x6 Prints or 2x6 Strips</li>
                    <li class="list-group-item">Personalized Logo<sup><%= fa_icon "asterisk" %></sup>/Graphic </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" id="col-gld">
                <h2><%= fa_icon "star" %> <%= fa_icon "star" %><br>
                    Gold Package</h2>
                <h3>$850</h3>
                <hr>
                <p>Includes:</p>
                <ul class="list-group">
                    <li class="list-group-item">Photo Lounge for 4 Hours</li>
                    <li class="list-group-item">Unlimited Double 4x6 Prints or 2x6 Strips</li>
                    <li class="list-group-item">Deluxe Scrapbook</li>
                    <li class="list-group-item">Personalized Logo<sup><%= fa_icon "asterisk" %></sup>/Graphic </li>
                    <li class="list-group-item">1 Hour of Idle Time</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" id="col-plat">
                <h2><%= fa_icon "star" %> <%= fa_icon "star" %> <%= fa_icon "star" %><br>
                    Platinum Package</h2>
                <h3>$1125</h3>
                <hr>
                <p>Includes:</p>
                <ul class="list-group">
                    <li class="list-group-item">Photo Lounge for 5 Hours</li>
                    <li class="list-group-item">Unlimited Double 4x6 Prints or 2x6 Strips</li>
                    <li class="list-group-item">Social Media Station</li>
                    <li class="list-group-item">Deluxe Scrapbook</li>
                    <li class="list-group-item">Personalized Logo<sup><%= fa_icon "asterisk" %></sup>/Graphic </li>
                    <li class="list-group-item">1 Hour of Idle Time</li>
                </ul>
            </div>    
        </div> 
        <div class="row">
            <p><sup><%= fa_icon "asterisk" %></sup> Client supplied logo. We are fun enhancers not graphic designers.</p> 
        </div>   
    </div>    
</div>

<div id="options">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-12">
                <h2>OPTIONS</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                      $150/hr Extra Hours
                    </li>
                    <li class="list-group-item">
                      $75 Scrapbook Station
                    </li>
                    <li class="list-group-item">
                      $125 Social Media Station
                    </li>
                    <li class="list-group-item">
                      $25 Photo Sleeves
                    </li>
                    <li class="list-group-item">
                      $1/mi Travel > 50 miles<br>
                        <!-- <small>From 80104 Zipcode</small> -->
                    </li>
                    <li class="list-group-item">
                      $50/hr Idle Time
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-8 offset-md-2">
              <%= image_tag 'FavoritesWeb13.JPG', alt: "Couple in Photo Booth Denver with Custom Backdrop", class: 'img-thumbnail' %>
            </div>
        </div>
    </div>
</div>
