<%= form_for(@photo) do |f| %>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, class: 'form-control' %>
      </div>
    </div>
  </div> 

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :main_image %>
        <%= f.file_field :main_image %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :event_images %>
        <%= f.file_field :event_images, multiple: true %>
      </div>
    </div>
  </div>   

  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>

<% end %>