<!DOCTYPE html>
<html>
  <head>
    <title>ModPhotoLounge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Alegreya+Sans:300" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/nav' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
